@font-face {
  font-family: 'Oswald';
  src: url('./fonts//Oswald-VariableFont_wght.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Oswwald';
}
@keyframes stak{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.mainImage
{
  margin-Top:-80px;
  min-Height: 100vh;
  width: 100%;
  object-Fit:contain;
  background-Image:url('./image/mainImage.jpg');
  background-Repeat:no-repeat;
  background-Size: cover;
  image-Rendering:pixelated;
}
@media only screen and (max-width:480px) {
  
.mainImage
{
  background-Image:url('./image/mainImageMob.jpg');
  background-Size: cover;
  image-rendering:pixelated;
}
}