.formBac
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  font-family: 'Oswald';
  letter-spacing: 1px;
  line-height: 12px;
  width: 100%;
}

.form
{
  width: 450px;
  padding: 10px 20px;
  background: linear-gradient(210deg,rgb(169, 179, 178),rgb(65, 121, 212)) ;
  border-radius: 10px;
  box-shadow: 0px 0px 65px rgb(65, 121, 212);
  height: 360px;
  transition: 0.5s linear all;
  overflow: hidden;
}

.formHeader
{
  margin-bottom: 20px;
}
.formHeader h2
{
 text-align: center;
}
.formFooter
{
  display: flex;
  justify-content: center;
}

.formSend
{
  width: 0;
  opacity: 0;
  padding: 10px 20px;
  background: rgb(46, 224, 200);
  border-radius: 10px;
  box-shadow: 0px 0px 65px rgb(46, 224, 200);
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}

.formSend h1
{
  text-align: center;
}

.formSend.success
{
  opacity: 1;
  width: 450px;
  transition: 0.5s linear all;

}

.form.success
{
  width: 0;
  opacity: 0;
  transition: 0.5s linear all;
}

.form.success .formHeader
{
  transform: translateY(350px);
  transition: all linear 0.2s;
}
.form.success .formBody
{
  transform: translateY(350px);
  transition: all linear 0.2s;
}
.form.success .formFooter
{
  transform: translateY(350px);
  transition: all linear 0.2s;
}

.form .formHeader
{
  transform: translateY(0);
  transition-delay: 0.5s;
  transition-property: all;
}
.form .formBody
{
  transform: translateY(0);
  transition-delay: 0.5s;
  transition-property: all;
}
.form .formFooter
{
  transform: translateY(0);
  transition-delay: 0.5s;
  transition-property: all;
}

@media only screen and (max-width:480px) {
  .form
  {
    width: 260px;
  }
  .formSend.success
  {
    width: 260px;
  }
}

.errors
{
  color: rgb(235, 17, 17);
  font-weight: 500;
}
.divErr
{
  position: absolute;
  top:60px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.inputForm
{
  margin-bottom: 20px;
}

.line
{
  position: relative;
}

